* {
    box-sizing: border-box;
    margin: auto;
}

:root {
    --red:rgba(212, 90, 90, 0.884);
    --boton: rgba(19, 18, 18, 0.15);
    --red1: rgba(236, 39, 32, 0.808);
    --blue: rgb(81, 96, 121);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html {
     /* scroll-behavior: smooth; */
}

body {
    font-family: "Libertinus Serif Display", system-ui;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 85px;
    width: 100%;
}

#logo {
    padding-top: 8px;
    width: 55px;
    height: 80px;
}
nav {
    width: 40%;
}

ul {
    list-style: none;
    
}

.nav-bar ul {
    justify-content: space-around;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar li {
    margin: 40px 10px;
}

nav a, label{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    color: var(--red);
    transition: 0.5s;
}

form {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 12px;
}

input {
    height: 37px;
    width: 200px;
    border-radius: 30px;
    border: solid 1px white;
    color: white;
    background-color: transparent;
}

input, #BotonRegistro {
    margin: 25px 0;
}

/* estos son los botones, configuracion */

#BotonRegistro, .botones {
    height: 40px;
    width: 130px;   
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 15px;
    justify-content: center;
    transition: 0.5s;
    transition-timing-function: ease;
}

#BotonRegistro {
    background-color: var(--red);
}

.botones {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 10px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.botones1 {
    height: 40px;
    width: 130px; 
    border-radius: 24px;
    color: white;
    border: none;
    align-content: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255, 0.45);
    box-shadow: 0 4px 30px rgba(41, 41, 41, 0.1);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.botones:hover, #BotonRegistro:hover, .botones1:hover {
    background-color: white;
    color: black;
} 

/* Aqui empieza la primera seccion */

section{
    min-height: 100vh;
}

#primera {
    background-image: url("fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

.glass {
    display: flex;
    flex-direction: column;
    height: 760px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(16px); 
    grid-column: 1/2;
    padding-top: 30px;
    margin-left: 180px;
}

h1 {
    color: var(--red);
    font-size: 50px;
    font-family: "Libre Baskerville", serif;
}

p {
    color:white;
    padding: 30px 35px;
    font-size:medium;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

iframe {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    align-items: flex-end;
}

/* aqui empieza la segunda seccion */
#modelos {
    background-color: rgb(0, 0, 0);
}

.ficha {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-content: flex-start;
    padding-top: 30px;
    gap: 30px;
}

h2 {
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 50px;
}

.card {
    height: 690px;
    width: 340px;
    background-color: rgb(100, 97, 97);
    backdrop-filter:blur(20px); 
    border-radius: 50px;
}

.carName {
    font-size: 22px;
}

.auto {
    position: relative;
    height: 300px;
    width: 90%;
    /* background-color: red; */
}

#auto1 {
    /* background-color: red; */
    margin-top: 45px;
}

.carColores {
    width: 220px;
    height: 50px;
    display: flex;
    /* background-color: red; */
}

.red, .blue, .white, .black {
    border-radius: 50%;
    width: 40px;
    height: 40px;   
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

.red:hover, .blue:hover, .white:hover, .black:hover {
    scale: 1.2;
    cursor: pointer;
}

.red {
    background-color: var(--red1);
}

.blue {
    background-color: var(--blue);
}

.white {
    background-color: var(--white);
}

.black {
    background-color: var(--black);
}

.CarInfo {
    padding: 10px 20px;
}

.icons svg {
    padding: 2px;
    margin: 5px;
}

.icons svg:hover {
    scale: 1.2;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.icons {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    gap: 15px;
}







#compra {
    background-color: rgb(0, 0, 2, 0.5);
}



footer {
    height: 200px;
    width: 100%;
    background-color: black;
}

#about {
    display: flex;
}
 

.caja {
    height: 180px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 0;
}

h3 {
    padding-bottom: 0;
}

.caja ul {
    padding: 0;
}

.caja li {
    padding: 5px 0;
}


/* intentar que al presionar el botono start se oscurezca la pantalla de fondo y envie a primera seccion  */