* {
    box-sizing: border-box;
    margin: auto;
}

header {
    height: 60px;
    width: 100%;
    background-color: red;
}

section{
    min-height: 100vh;
}
.container{
    background-color: rgb(104, 104, 114);
    display: grid;
}

footer {
    height: 200px;
    width: 100%;
    background-color: black;
}