* {
    box-sizing: border-box;
    margin: auto;
}
/* --background-color: var(); */

header {
    padding-top: 8px;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#logo {
    justify-content: flex-start;
    width: 50px;
    height: 50px;
}

nav {
    align-items: center;
    text-decoration: none;
    color: white;   
    list-style-type: none;
    justify-content: space-between;
}

section{
    min-height: 100vh;
    text-align: center;
}

#inicio {
    background-image: url("fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modelos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 30px;
    gap: 30px;
}

.card {
    height: 500px;
    width: 340px;
    background-color: rgb(190, 228, 207);
    border-radius: 50px;

}#auto {
    position: relative;
    height: 300px;
    width: 100%;
}
footer {
    height: 200px;
    width: 100%;
    background-color: black;
}

.compra {
    background-color: rgb(0, 0, 2, 0.5);
}